.card-img-top {
  object-fit: cover;
  opacity: 1;
  display: block;
  transition: transform 0.2s;
  backface-visibility: hidden;
}

.container:hover .card-img-top {
  transform: scale(1.1);
}

.image-card {
  cursor: pointer;
}
